.idImg {
  border: .3rem solid $off-black;
  border-radius: 20%;
  height: $xl-size;
  margin-right: $s-size;
  vertical-align: middle;
}

.userName {
  color: $off-white;
  text-decoration: none;
}

@media (max-width: $mobile-pixel) {
  .idImg {
    height: $l-size;
  }
} 