// Colors
$off-black: #20222b;
$off-white: #a5afd7;
$purple: #8357c5;
$dark-blue: #333745;
$blue: #3c4251;
$light-blue: #464b5e;

// Spacing
$xs-size: .5rem;
$s-size: 1rem;
$m-size: 1.5rem;
$l-size: 2rem;
$xl-size: 3rem;

$mobile-pixel: 37.5rem;